#objective {
    height: auto;
    margin-top: -15px;
    text-align: left;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #c41c1c;
    color: #000;
    font-size: 24px;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}